NGROK_AUTH_TOKEN=""
NGROK_REGION="us"
API_PORT=4000
API_TUNNEL_SUBDOMAIN=""
API_URL="https://${API_TUNNEL_SUBDOMAIN}.ngrok.io"
SHOPIFY_APP_PORT=4001
SHOPIFY_APP_NAME="Upselling"
SHOPIFY_APP_SLUG="upselling"
SHOPIFY_APP_SUBDOMAIN=""
SHOPIFY_APP_URL="https://${SHOPIFY_APP_SUBDOMAIN}.ngrok.io"
SHOPIFY_APP_API_KEY=""
SHOPIFY_APP_API_SECRET_KEY=""
SHOPIFY_APP_STOREFRONT_PORT=4002
ADMIN_APP_PORT=4003
ADMIN_APP_URL="http://localhost:${ADMIN_APP_PORT}"
CONTACT_EMAIL=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
MONGODB_URI="mongodb://localhost:27017/upselling"
JWT_SECRET=""
SANDBOX=true
