NODE_ENV=development
AWS_PROFILE="greatupsells"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION="us-east-1"
POST_PURCHASE_APP_SUBDOMAIN=""
POST_PURCHASE_APP_PORT=4010
POST_PURCHASE_APP_URL="https://${POST_PURCHASE_APP_SUBDOMAIN}.ngrok.io:${POST_PURCHASE_APP_PORT}"

ADMIN_API_PORT=4005
ADMIN_API_URL="http://localhost:${ADMIN_API_PORT}"
ADMIN_APP_PORT=4003
ADMIN_APP_URL="http://localhost:${ADMIN_APP_PORT}"
APP_NAME="Great Upsells"
ASSETS_URL="${SHOPIFY_ADMIN_APP_URL}"
BASE_DOMAIN="greatupsells.com"
CONTACT_EMAIL="greatupsells@neatowebsolutions.com"
DOMAIN="greatupsells.com"
ELASTICSEARCH_URL="http://localhost:9200"
JWT_SECRET="f177297e03c29b80b51a9388585c716cdc59fce5d96677e1542ef6dc64c90b31"
LOGS_API_PORT=4009
LOGS_API_URL="http://localhost:${LOGS_API_PORT}"
LOGS_NOTIFICATION_EMAIL="chad@neatowebsolutions.com"
MONGODB_URL_LOGS="mongodb://127.0.0.1:27017/greatupsells-logs?replicaSet=rs0"
MONGODB_URL_SHOPS="mongodb://127.0.0.1:27017/greatupsells-shops?replicaSet=rs0"
REDIS_URL_APP="redis://localhost:6379/0"
SANDBOX=true
SERVICES_CONSUMER_ROLE_ARN="arn:aws:iam::174585217681:role/neatowebsolutions-dev"
SHOPIFY_ADMIN_APP_API_KEY=""
SHOPIFY_ADMIN_APP_API_SECRET_KEY=""
SHOPIFY_ADMIN_APP_PORT=4001
SHOPIFY_ADMIN_APP_SUBDOMAIN=""
SHOPIFY_ADMIN_APP_URL="https://${SHOPIFY_ADMIN_APP_SUBDOMAIN}.ngrok.io"
SHOPIFY_EMBED_BLOCK_ID="4ff94239-cc36-4a41-8b27-1e81f6887dc7"
SHOPS_API_PORT=4004
SHOPS_API_URL="http://localhost:${SHOPS_API_PORT}"
SHOPIFY_ADMIN_API_PORT=4000
SHOPIFY_ADMIN_API_URL="http://localhost:${SHOPIFY_ADMIN_API_PORT}"
STOREFRONT_API_PORT=4006
STOREFRONT_API_URL="http://localhost:${STOREFRONT_API_PORT}"
STOREFRONT_PORT=4002
WEBHOOK_API_URL="https://${WEBHOOK_SUBDOMAIN}.ngrok.io"
WEBHOOK_PORT=4008
WEBHOOK_SUBDOMAIN=""

ELASTICSEARCH_APP_PASSWORD=dummy
MONGODB_APP_PASSWORD=dummy
REDIS_APP_PASSWORD=dummy
