# Development only.
NODE_ENV=development
STAGE=dev
AWS_ACCESS_KEY_ID="root"
AWS_SECRET_ACCESS_KEY="root"
AWS_ENDPOINT=http://localhost:4566
AWS_REGION=us-east-1

# All environments.
ADMIN_APP_PORT=4003
ADMIN_APP_URL="http://localhost:${ADMIN_APP_PORT}"
ADMIN_API_URL="http://localhost:4005"
CONTACT_EMAIL=""
ELASTICSEARCH_URL=http://localhost:9200
JWT_SECRET=""
LOG_LEVEL="debug"
LOG_QUEUE_URL="http://localhost:4566/queue/worker-queue-dev"
MONGODB_URI_LOGS="mongodb://localhost:27017/upselling-logs?replicaSet=rs0"
MONGODB_URI_SHOPS="mongodb://localhost:27017/upselling-shops?replicaSet=rs0"
NGROK_AUTH_TOKEN=""
NGROK_REGION="us"
PUBLIC_API_PORT=4000
PUBLIC_API_TUNNEL_SUBDOMAIN=""
PUBLIC_API_URL="https://${API_TUNNEL_SUBDOMAIN}.ngrok.io"
SANDBOX=true
SHOPIFY_ADMIN_API_KEY=""
SHOPIFY_ADMIN_API_SECRET_KEY=""
SHOPIFY_ADMIN_NAME="Upselling"
SHOPIFY_ADMIN_PORT=4001
SHOPIFY_ADMIN_SLUG="upselling"
SHOPIFY_ADMIN_STOREFRONT_PORT=4002
SHOPIFY_ADMIN_SUBDOMAIN=""
SHOPIFY_ADMIN_URL="https://${SHOPIFY_ADMIN_SUBDOMAIN}.ngrok.io"
SHOPS_API_PORT=4004
SHOPS_API_URL="http://localhost:${SHOPS_API_PORT}"
SHOP_COLLECTION_IMPORT_QUEUE_URL=""
SHOP_PRODUCT_IMPORT_QUEUE_URL=""
STOREFRONT_API_PORT=4006
STOREFRONT_API_URL="http://localhost:${STOREFRONT_API_PORT}"
WEBHOOKS_ARN=""
