@font-face {
  font-family: 'Roboto';
  src: url('/admin/fonts/Roboto-Light.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('/admin/fonts/Roboto-Regular.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('/admin/fonts/Roboto-Medium.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('/admin/fonts/Roboto-Bold.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
